<div class="section-image">
	<div class="image">
		<img src="{{ section.image }}" alt="{% if section.caption is not empty %}{{ section.caption }}{% else %}Image{% endif %}" >
		{% if section.link is not empty %}<a href="{{ section.link }}" target="_blank"></a>{% endif %}
		{% if section.caption is not empty %}<p>{{ section.caption }}</p>{% endif %}
	</div>
</div>