{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block breadcrumbs %}<a href="/blog">Blog</a>{% endblock %}

{% block dynamic %}
	{% for post in posts.records %}
		<figure class="article">
			<div class="image">
                <img src="{{ getMediaImage(post.image).src }}">
            </div>
            <h2>{{ post.title }}<span>{{ post.subtitle }}</span></h2>
            <p>{{ post.excerpt }}</p>
		</figure>
	{% endfor %}
{% endblock %}