{% extends 'StemsPageBundle:Layout:' ~ page.layout.slug ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block breadcrumbs %}<a href="/blog">Blog</a>{% endblock %}

{% block title %}{% endblock %}

{% block dynamic %}
    <h1>Magazine</h1>
    <br>
    <br>
    <div class="article-list">
        {% for post in posts %}
            {% include 'StemsBlogBundle:Rest:post.html.twig' %}
        {% endfor %}
        <div class="rest-load-more" data-url="/rest/blog/get-more-posts/articles/" data-offset="6"></div>
    </div>
{% endblock %}