<div class="icon"><div class="inset"><i class="fa fa-comment-o"></i></div></div>
<div class="options">
	<h2>Magazine</h2>
	<a href="/admin/blog"><i class="fa fa-list"></i> View Articles</a>
	<a href="/admin/blog/create"><i class="fa fa-plus"></i> Create New Article</a>
</div>